<footer class="fixed bottom-0 left-0 w-full bg-white border-t shadow-md z-50">
    <div
        class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6 flex flex-col md:flex-row items-center justify-between gap-4 text-gray-600 text-sm">

        <div class="text-center md:text-left">
            &copy; @DateTime.Now.Year - by Nemo. All rights reserved.
        </div>

        <div class="flex space-x-4">
            <a href="/" class="hover:text-black transition">Home</a>
            <a href="/products" class="hover:text-black transition">Produkter</a>
            <a href="/contact" class="hover:text-black transition">Kontakt os</a>
        </div>

    </div>
</footer>
